Package: com.mr00k3.modern6
Name: Modern 6
Version: 1.2
Architecture: iphoneos-arm64
Description: Modern 6 SnowBoard Theme for Dopamine (or else rootless jailbreaks).
Maintainer: mr00k3 <mr00k3ziks@protonmail.com>
Author: mr00k3 <mr00k3ziks@protonmail.com>
Homepage: https://github.com/mr00k3/Modern-6-dopamine
Icon: https://raw.githubusercontent.com/mr00k3/Modern-6-dopamine/refs/heads/main/Modern6/DEBIAN/icon.png
Section: Themes
